
body{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }
h1{
    font-family: garamond;
}
a{
    font-family: garamond;

}
p{
    font-family: garamond;

}h2,h3,h4,h5,h6,p,a{
    font-family: garamond;
}


/* navbar css start  */

.nav-item .nav-link{
    color: #fff;
}
.Aman{
    background-color: rgba(255, 255, 255, 0.212);
    /* padding: 8px; */
    border-radius: 40px;
}
.navbar-toggler-icon{
    color: #fff;
}
.navbar{
    margin: 20px;
}
.nav-link{
    font-size: small;
}


.button a{
text-decoration: none;
padding: 6px 10px;
border-radius: 17px;
color: #fff;
border: 1px solid #fff;
background: transparent;
font-weight: bolder;
}
/* nav bar css end  */

/* home section css start  */
.home{
    min-height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* background: url(aman.jpeg) no-repeat;  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(image-new/home\ section\ bg-min.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    animation: change 10s infinite step-end;
    padding: 5rem 7%;
    /* text-align: start; */
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */

}
@media screen and (max-width:500px){
    .home{
        /* text-align: center; */
        padding-top: 5.3rem;
    }
}
.buttonnn{
    
    width: 100%;
    padding: 10px 20px;

    letter-spacing: 3px;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    background: #734124;
background: linear-gradient(90deg, rgba(115, 65, 36, 1) 0%, rgba(210, 119, 66, 1) 80%, rgba(217, 123, 68, 1) 100%);
}
.buttonnn:hover{
    
    background-color: #005c60;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 19ms;
}







@media screen and(max-width:360px) {
    .home{
        background-size: contain;
    }
}






.home .contantttt h1 {
    font-size: 4rem;
    /* text-transform: uppercase; */
    color: #fff;
    text-align: start;
    padding-top: 60px;
    max-width: 700px;
    font-weight: bolder;
}

.home .contantttt p {
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    max-height: 40rem;
    text-align: start;
    max-width: 580px;
}
@media screen and (max-width:500px){
    .home .contantttt h1 {
        font-size: 2rem;
        /* text-transform: uppercase; */
        color: #fff;
        /* text-align: center; */
        padding-top: 50px;
        /* max-width: 700px; */
        font-family: garamond;
        font-weight: bolder;

    }
    
    .home .contantttt p {
        font-size: 1rem;
        color: #fff;
        padding: 1rem 0;
        max-height: 40rem;
        /* text-align: center; */
        font-family: garamond;
        font-weight: bolder;
    }
}



.home.contantttt h3 {
    font-size: 3rem;
    text-align: start;
}

.home.contantttt p {
    font-size: 1rem;
    text-align: start;
}

/* about us css start  */
.herobg{
    /* background-color: #19191c; */
    background-color: #181717;
    padding: 20px;
    border-radius: 10px;

}
.HEROBGG{
    background-color: #19191c;
padding: 40px;
}
.likete{
    border-bottom: solid 4px #734124;
max-width: 170px;
text-align: start;
/* margin-bottom: 10px; */
}
.conta p{
   
text-align: start;
}
.conta a{
margin-top: 20px;
border-bottom: solid 2px #734124;
max-width: 170px;
text-align: start;
text-decoration: none;
color: #985128;
font-size: 20px;
}


/* image css start all  */

.imf1{
    /* height: 300px; */
    /* padding-top: 5px; */
    height: 300px;
    border-radius: 15px;
    box-shadow: 2px 0 3px rgb(248, 235, 235);
}
@media screen and(max-width:500px){
    .imf1{
        height: 100%;
    }
}


/* image css end all  */